@model MyMvcApp.Models.User

@{
    ViewData["Title"] = "Password selection";
}

<h2>@ViewData["Title"]</h2>

<form id="passwordForm" asp-action="PasswordSelect" method="post">
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" id="lastNameField" />
    </div>
    <div class="form-group">
        <label asp-for="BirthYear"></label>
        <input asp-for="BirthYear" class="form-control" id="birthYearField" />
    </div>
    <div class="form-group">
        <label asp-for="FavoriteColor"></label>
        <input asp-for="FavoriteColor" class="form-control" id="favoriteColorField" />
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" id="passwordField" />
    </div>


    <button type="submit" name="submitAction" value="generate" class="btn btn-primary">Generate password</button>
    <!-- The reset button below will revert the inputs to their original HTML values -->
    <button type="reset" class="btn btn-secondary">Reset</button>
    <button type="submit" name="submitAction" value="next" class="btn btn-success">Next</button>
</form>